.members {
    background-color: #f8f8f8;
    padding-top: 45px;
    padding-bottom: 55px;
}

.members h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.members h2::after {
    content: '';
    display: block;
    width: 36px;
    height: 3px;
    background-color: #9410a9;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.member-list {
   /* display: flex;*/
    padding-top: 40px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll;
}

.member-list li{
    flex-shrink:0;
    width: 2600px;/*260>2600*/
    height: 300px;/*new*/
    margin-left: 0px;/*75>0*/
}

dt {
    font-size: 32px;
}
dc {
    font-size:16px
}

char_img {
    max-width: 8%;
}

.member-list li:first-child {
    margin-left: 0;
}

@media (max-width: 800px) {
    .member-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .member-list li {
        width: 300px;/*220>300*/
        margin-left: 0px;/*30>0*/
    }

    img {
        max-width: 50%;
    }
}
