.title {
    height: 210px;
    background-image: url(../images/characters/gensolog.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding-right: 15%;
    padding-left:  15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-shadow: 1px 1px 10px #ffffff;
}

.title h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 32pt;
    font-weight: bold;
}

.title p {
    font-size: 14px;
    margin-top: 15px;
}

.characters {
    background-color: #ffffff;
    padding-top: 45px;
    padding-bottom: 55px;
    padding-left: 35%/*60px*/;
    padding-right: 15%/*60px*/;
}

.characters h2 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.characters b::after {
    content: '';
    display: flex;
    width: 130px;
    height: 3px;
    background-color: #000000;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
}

.characters-list {
    padding-top: 40px;
    padding-bottom: 10px;
    overflow: hidden;
    overflow-wrap: break-word;
    width: 100%; /*new*/
}

.characters-list li {
    display: flex;
    flex-shrink: 0;
    width: 100%;
    height: 300px; /*new*/
    margin-top: 40px;
    margin-bottom: 80px;
    margin-left: 0px;
    padding-bottom: 0px;
}

dt {
    font-size: 32px;
}

dl {
    padding-left: 20px;
}

dc {
    font-size: 16px;
}

.characters img {
    max-width: 90%;
    max-height: 90%;
    padding-right: 30px;
}

.speciality {
    width: 100%;
    font-size: 20px;
}

.characters-list li:first-child {
    margin-left: 0;
}

@media (max-width: 1000px){
    .characters {
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width: 1000px){
    .title {
        background-size: cover;
    }
}

@media (max-width: 800px) {
    .title {
        background-size: cover;
    }

    .characters {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 0px;
    }

    .characters-list li {
        width: 100%;
        height: 25%;
        margin-left: 0px;
    }

    .characters img {
        max-width: 50%;
        max-height: 50%;
        padding-right: 0px;
    }

    .speciality {
        font-size: 16px;
    }
}
@media(max-width:540px){
    .characters img{
        max-width: 150px;
        max-height: 150px;
    };
}
