@charset "utf-8";

.title {
    height: 310px;
    background-image: url(../images/stories/bg-main.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.reverse {
    flex-direction: row-reverse;
    text-align: right;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.story-feature {
    display: block;
    justify-content: space-between;
    width: 930px;
    max-width: 90%;
    margin-top: 75px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    align-items: flex-start;
}

.story-feature h2 {
    font-family: "Montserrat", sans-serif;
    font-size: 27pt;
    font-weight: bold;
}

.story-feature h2::after {
    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #000000;
    margin-top: 20px;
}

.story-feature p {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 50px;
}

.story-feature img {
    height: auto;
    margin-bottom: 20px;
}

@media (max-width: 800px) {
    .reverse {
        margin-right: 20px;
        margin-top: 30px;
        font-size: 12px;
    }
}